.analog-clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(173, 173, 173);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  min-height: 400px;
  z-index: 1;
}

.analog-timer {
  font-size: 2.5rem;
  color: #333;
}


.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 10px solid black;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white; 
  margin-top: 40px;
}

.hand {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  transform: rotate(-90deg); /* Startpunkt kl.12 */
}

.hour-hand {
  height: 4px;
  width: 30%; /* Mindre för timvisaren */
  background-color: black;
}

.minute-hand {
  height: 3px;
  width: 45%; /* Längre för minutvisaren */
  background-color: gray;
}

.second-hand {
  height: 2px;
  width: 50%; /* Längst för sekundvisaren */
  background-color: red;
}

/* Behövs för att man inte ska se att visaren är lite offcenter... */
.center-circle {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stop-button-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.stop-button-analog {
  background-color: #dc3545;
  color: white;
  margin-right: 10px;
  width: 350px;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.stop-button:hover {
  background-color: #c82333;
}

.stop-button:active {
  background-color: #bd2130;
}
