.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 375px;
  background-color: rgb(173, 173, 173);
  text-align: center;
  position: relative;
}

.star {
  position: relative;
  width: 0;
  height: 0;
  margin: 0 auto;
  display: block;
  border-right: 50px solid transparent;
  border-bottom: 35px solid rgb(0, 255, 21);
  border-left: 50px solid transparent;
  cursor: pointer; /* Ändrar markören till pekare */
}

.star:hover {
  cursor: pointer; /* Bekräftar att pekaren ändras vid hover */
}
.star::before,
.star::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 35px solid  rgb(0, 255, 21);
  border-left: 50px solid transparent;
}

.star::before {
  transform: rotate(-70deg);
}

.star::after {
  transform: rotate(70deg);
}
.loading-text {
  font-size: 2rem;
  color: #333;
  margin-top: 80px;
}
