
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 375px;
  background-color: #f5f5f5; 
  text-align: center; 
  position: relative;
}

/* Skapar ett hjärta */
.heart {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(-45deg);
  animation: pulse 1.5s infinite;
  cursor: pointer; /* Indikerar att hjärtat är klickbart */
  margin-bottom: 20px;
}

/* Skapar övre delarna av hjärtat */
.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  left: 50px;
  top: 0;
}

/* Skapar pulserande effekt */
@keyframes pulse {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.1) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}

/* När hjärtat är klickat så ökas storleken */
.heart.clicked {
  animation: none; /* Stoppar den pulserande effekten när klickat */
  transform: scale(1.5) rotate(-45deg); /* Ökar storleken och behåller rotationen */
  transition: transform 0.3s ease-in-out;
}
