
.pause-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(173, 173, 173);
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.pause-title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}


.pause-timer {
  font-size: 2.5rem;
  color: #007bff;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Stil för emoji */
.pause-emoji {
  font-size: 4rem;
  animation: pulse 2.5s infinite;
  margin-bottom: 20px;
}


@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.3); } /* Gör emojin större i mitten av animationen */
}


.pause-description {
  font-size: 1.2rem;
  margin: 0 25px;
  color: #555;
  margin-bottom: 40px;
  max-width: 80%;
  line-height: 1.6;
}


.pause-stop-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ff6b6b;
  color: white;
  width: 365px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pause-stop-button:hover {
  background-color: #ff4c4c;
}

.pause-stop-button:active {
  background-color: #e54343;
}
